<div class="jumbotron">
    <h1>Core API</h1>
    <p>Generic API for all eyeOrcas products</p>
</div>

<div class="col-md-9">
    <div class="col-md-12" class="device-documentation">
        <h2>Devices</h2>
        <ul class="list-unstyled">
            <li>
                <h3>getDevice</h3>
                <pre>http://{host-name}/core/device/getDevice</pre>
            </li>
            <li>
                <h3>addDevice</h3>
                <pre>http://{host-name}/core/device/getDevice</pre>
            </li>
            <li>
                <h3>updateDevice</h3>
                <pre>http://{host-name}/core/device/getDevice</pre>
            </li>
            <li>
                <h3>deleteDevice</h3>
                <pre>http://{host-name}/core/device/getDevice</pre>
            </li>
        </ul>
    </div>
    <div class="col-md-12" class="device-relationship-documentation">
        <h2>Device Relationship</h2>
        <ul class="list-unstyled">
            <li>
                <h3>getDeviceRelationship</h3>
                <pre>http://{host-name}/core/deviceRelationship/getDeviceRelationship</pre>
            </li>
            <li>
                <h3>addDeviceRelationship</h3>
                <pre>http://{host-name}/core/deviceRelationship/addDeviceRelationship</pre>
            </li>
            <li>
                <h3>updateDeviceRelationship</h3>
                <pre>http://{host-name}/core/deviceRelationship/updateDeviceRelationship</pre>
            </li>
            <li>
                <h3>deleteDeviceRelationship</h3>
                <pre>http://{host-name}/core/deviceRelationship/deleteDeviceRelationship</pre>
            </li>
        </ul>
    </div>
    <div class="col-md-12" class="device-value-documentation">
        <h2>Device Relationship Value</h2>
        <ul class="list-unstyled">
            <li>
                <h3>getDeviceRelationshipValue</h3>
                <pre>http://{host-name}/core/deviceRelationshipValue/getDeviceRelationshipValue</pre>
            </li>
            <li>
                <h3>addDeviceRelationshipValue</h3>
                <pre>http://{host-name}/core/deviceRelationshipValue/addDeviceRelationshipValue</pre>
            </li>
            <li>
                <h3>updateDeviceRelationshipValue</h3>
                <pre>http://{host-name}/core/deviceRelationshipValue/updateDeviceRelationshipValue</pre>
            </li>
            <li>
                <h3>deleteDeviceRelationshipValue</h3>
                <pre>http://{host-name}/core/deviceRelationshipValue/deleteDeviceRelationshipValue</pre>
            </li>
        </ul>
    </div>
    <div class="col-md-12" class="device-value-documentation">
        <h2>Device Session</h2>
        <ul class="list-unstyled">
            <li>
                <h3>getDeviceRelationshipValue</h3>
                <pre>http://{host-name}/core/deviceRelationshipValue/getDeviceRelationshipValue</pre>
            </li>
            <li>
                <h3>addDeviceRelationshipValue</h3>
                <pre>http://{host-name}/core/deviceRelationshipValue/addDeviceRelationshipValue</pre>
            </li>
            <li>
                <h3>updateDeviceRelationshipValue</h3>
                <pre>http://{host-name}/core/deviceRelationshipValue/updateDeviceRelationshipValue</pre>
            </li>
            <li>
                <h3>deleteDeviceRelationshipValue</h3>
                <pre>http://{host-name}/core/deviceRelationshipValue/deleteDeviceRelationshipValue</pre>
            </li>
        </ul>
    </div>
    <div class="col-md-12" class="device-value-documentation">
        <h2>Device Value</h2>
        <ul class="list-unstyled">
            <li>
                <h3>getDeviceValue</h3>
                <pre>http://{host-name}/core/deviceValue/getDeviceValue</pre>
            </li>
            <li>
                <h3>addDeviceValue</h3>
                <pre>http://{host-name}/core/deviceValue/addDeviceValue</pre>
            </li>
            <li>
                <h3>updateDeviceValue</h3>
                <pre>http://{host-name}/core/deviceValue/updateDeviceValue</pre>
            </li>
            <li>
                <h3>deleteDeviceValue</h3>
                <pre>http://{host-name}/core/deviceValue/deleteDeviceValue</pre>
            </li>
        </ul>
    </div>
    <div class="col-md-12" class="email-documentation">
        <h2>Email</h2>
        <ul class="list-unstyled">
            <li>
                <h3>getEmail</h3>
                <pre>http://{host-name}/core/email/getEmail</pre>
            </li>
            <li>
                <h3>addEmail</h3>
                <pre>http://{host-name}/core/email/addEmail</pre>
            </li>
            <li>
                <h3>updateEmail</h3>
                <pre>http://{host-name}/core/email/updateEmail</pre>
            </li>
            <li>
                <h3>deleteEmail</h3>
                <pre>http://{host-name}/core/email/deleteEmail</pre>
            </li>
        </ul>
    </div>
    <div class="col-md-12" class="enterprise-documentation">
        <h2>Enterprise</h2>
        <ul class="list-unstyled">
            <li>
                <h3>getEnterprise</h3>
                <pre>http://{host-name}/core/enterprise/getEnterprise</pre>
            </li>
            <li>
                <h3>addEnterprise</h3>
                <pre>http://{host-name}/core/enterprise/addEnterprise</pre>
            </li>
            <li>
                <h3>updateEnterprise</h3>
                <pre>http://{host-name}/core/enterprise/updateEnterprise</pre>
            </li>
            <li>
                <h3>deleteEnterprise</h3>
                <pre>http://{host-name}/core/enterprise/getEnterprise</pre>
            </li>
        </ul>
    </div>
    <div class="col-md-12" class="entity-documentation">
        <h2>Entity</h2>
        <ul class="list-unstyled">
            <li>
                <h3>getEntity</h3>
                <pre>http://{host-name}/core/entity/getEntityDevice</pre>
            </li>
            <li>
                <h3>getEntityDetail</h3>
                <pre>http://{host-name}/core/entity/getEntityDetail</pre>
            </li>
            <li>
                <h3>addEntity</h3>
                <pre>http://{host-name}/core/entity/deleteEnterprise</pre>
            </li>
            <li>
                <h3>updateEntity</h3>
                <pre>http://{host-name}/core/entity/updateEntity</pre>
            </li>
            <li>
                <h3>deleteEntity</h3>
                <pre>http://{host-name}/core/entity/deleteEntity</pre>
            </li>
        </ul>
    </div>
    <div class="col-md-12" class="image-documentation">
        <h2>Image</h2>
        <ul class="list-unstyled">
            <li>
                <h3>getImage</h3>
                <pre>http://{host-name}/core/image/getImage</pre>
            </li>
            <li>
                <h3>addImage</h3>
                <pre>http://{host-name}/core/image/addImage</pre>
            </li>
            <li>
                <h3>updateImage</h3>
                <pre>http://{host-name}/core/image/updateImage</pre>
            </li>
            <li>
                <h3>deleteImage</h3>
                <pre>http://{host-name}/core/image/deleteImage</pre>
            </li>
        </ul>
    </div>
    <div class="col-md-12" class="log-documentation">
        <h2>Log</h2>
        <ul class="list-unstyled">
            <li>
                <h3>getLog</h3>
                <pre>http://{host-name}/core/log/getLog</pre>
            </li>
            <li>
                <h3>addLog</h3>
                <pre>http://{host-name}/core/log/addLog</pre>
            </li>
            <li>
                <h3>updateLog</h3>
                <pre>http://{host-name}/core/log/updateLog</pre>
            </li>
            <li>
                <h3>deleteLog</h3>
                <pre>http://{host-name}/core/log/deleteLog</pre>
            </li>
        </ul>
    </div>
    <div class="col-md-12" class="media-documentation">
        <h2>Media</h2>
        <ul class="list-unstyled">
            <li>
                <h3>getMedia</h3>
                <pre>http://{host-name}/core/media/getMedia</pre>
            </li>
            <li>
                <h3>addMedia</h3>
                <pre>http://{host-name}/core/media/addMedia</pre>
            </li>
            <li>
                <h3>updateLog</h3>
                <pre>http://{host-name}/core/media/updateMedia</pre>
            </li>
            <li>
                <h3>deleteMedia</h3>
                <pre>http://{host-name}/core/media/deleteMedia</pre>
            </li>
        </ul>
    </div>
    <div class="col-md-12" class="message-documentation">
        <h2>Message</h2>
        <ul class="list-unstyled">
            <li>
                <h3>getMessage</h3>
                <pre>http://{host-name}/core/message/getMessage</pre>
            </li>
            <li>
                <h3>addMessage</h3>
                <pre>http://{host-name}/core/message/addMessage</pre>
            </li>
            <li>
                <h3>updateMessage</h3>
                <pre>http://{host-name}/core/message/updateMessage</pre>
            </li>
            <li>
                <h3>deleteMessage</h3>
                <pre>http://{host-name}/core/message/deleteMessage</pre>
            </li>
        </ul>
    </div>
    <div class="col-md-12" class="phone-documentation">
        <h2>Phone</h2>
        <ul class="list-unstyled">
            <li>
                <h3>getPhone</h3>
                <pre>http://{host-name}/core/phone/getPhone</pre>
            </li>
            <li>
                <h3>addPhone</h3>
                <pre>http://{host-name}/core/phone/addPhone</pre>
            </li>
            <li>
                <h3>updatePhone</h3>
                <pre>http://{host-name}/core/phone/updatePhone</pre>
            </li>
            <li>
                <h3>deletePhone</h3>
                <pre>http://{host-name}/core/phone/deletePhone</pre>
            </li>
        </ul>
    </div>
    <div class="col-md-12" class="product-registration-documentation">
        <h2>Product Registration</h2>
        <ul class="list-unstyled">
            <li>
                <h3>getProductRegistration</h3>
                <pre>http://{host-name}/core/productRegistration/getProductRegistration</pre>
            </li>
            <li>
                <h3>addProductRegistration</h3>
                <pre>http://{host-name}/core/productRegistration/addProductRegistration</pre>
            </li>
            <li>
                <h3>updateProductRegistration</h3>
                <pre>http://{host-name}/core/productRegistration/updateProductRegistration</pre>
            </li>
            <li>
                <h3>deleteProductRegistration</h3>
                <pre>http://{host-name}/core/productRegistration/deleteProductRegistration</pre>
            </li>
        </ul>
    </div>
    <div class="col-md-12" class="product-value-documentation">
        <h2>Product Value</h2>
        <ul class="list-unstyled">
            <li>
                <h3>getProductValue</h3>
                <pre>http://{host-name}/core/productValue/getProductValue</pre>
            </li>
            <li>
                <h3>addProductValue</h3>
                <pre>http://{host-name}/core/productValue/addProductValue</pre>
            </li>
            <li>
                <h3>updateProductValue</h3>
                <pre>http://{host-name}/core/productValue/updateProductValue</pre>
            </li>
            <li>
                <h3>deleteProductValue</h3>
                <pre>http://{host-name}/core/productValue/deleteProductValue</pre>
            </li>
        </ul>
    </div>
</div>
<div class="col-md-3">

</div>