<div class="jumbotron">
    <h1>Getting Started</h1>
    <p>A brief description of the structure of eyeOrcas and how to use eyeOrcas portal</p>
</div>
<div class="col-md-12">
    <h2>Overview</h2>
    <p>eyeOrcas is developed in PANE stack - NodeJS, ExpressJS, AngularJS and PostgreSQL</p>
</div>
<hr />
<div class="col-md-12">
    <h2>API Structure</h2>
    <pre>http://hostName/{apiType}/{base}/{action}</pre>
    <ul class="list-unstyled">
        <li><pre class="code-snippets">apiType</pre> - API type refers to the type the API one wishes to call. Types of API include core, eyeorcas, lifecare etc.</li>
        <li><pre class="code-snippets">base</pre> - The key component to request, such as device / entity / image.</li>
        <li><pre class="code-snippets">action</pre> - The method user requests for - getDevice / getEmail / getimage</li>
    </ul>
</div>
<div class="col-md-12">
    <h2>Node Modules</h2>
    <pre>http://hostName/{apiType}/{base}/{action}</pre>
    <ul class="list-unstyled">
        <li><pre class="code-snippets">apiType</pre> - API type refers to the type the API one wishes to call. Types of API include core, eyeorcas, lifecare etc.</li>
        <li><pre class="code-snippets">base</pre> - The key component to request, such as device / entity / image.</li>
        <li><pre class="code-snippets">action</pre> - The method user requests for - getDevice / getEmail / getimage</li>
    </ul>
</div>