<div class="jumbotron">
    <h1>Helpers</h1>
    <p>Friendly helper classes documented to help you develop faster</p>
</div>
<div class="col-md-12">
    <h2>Crypt</h2>
    <ul>
        <li></li>
        <li></li>
    </ul>
</div>