<div class="jumbotron">
    <img src="/img/eyeorcas-developer-logo.png" />
    <h1>Developers</h1>
    <p>Friendly and Helpful API Documentation for eyeOrcas Products</p>
    <p><a class="btn btn-primary btn-lg" href="/get-started" target="_self">Get Started</a></p>
</div>
