//Landing page CSS start here
.get-started{
  .jumbotron{
    background-color:$color-text-reversed;
    background-image: url('/img/landing-background.png');
    background-position:50% 50%;
    background-repeat:no-repeat;
    @include background-size(cover);
    h1{
      color:$color-muted-dark;
      margin:12px 0px;
    }
  }
  h2{
    font-size:em(30, $text-size-base);
    font-weight:500;
  }
  /* responsive iphone, smartphone*/
  @media only screen
  and (min-width : 320px)
  and (max-width : 568px) {
  }
    /* responsive tablets*/
  @media only screen
  and (min-width : 568px)
  and (max-width : 1024px)  {
  }
}