//layout css here
html, body{
  width:100%;
  height:auto;
  height:100%;
  float:left;
  font-weight:300;
}
body{
  background-color:$color-layout-background-muted;
}
.col-md-12{
  float:left;
}

.navbar{
  margin-bottom:0px;
  border:0px;
  border-radius:0px;
  background-color:$color-text-reversed;
  .navbar-brand{
    font-weight:500;
    color:$color-brand-blue;
    a:hover{
      color:$color-brand-blue;
    }
  }
  .navbar-nav{
    li a{
      padding:20px;
      font-weight:400;
    }
    li a:hover{
      background-color:$color-brand-blue;
      color:$color-text-reversed;
    }
  }
}

#footer{
  padding:20px 0px;
  background-color:$color-muted-mid !important;
  color:$color-text-reversed;

  h4{
    font-weight:500;
    font-size: em(20, $text-size-base);
    color:$color-muted-intense;
  }
  .list-unstyled{
    li, a{
      color:$color-muted-intense;
      font-size:em(14, $text-size-base);
      font-weight:400;
    }
    a:hover{
      color: $color-muted-dark;
    }
    li{
      margin:4px 0px;
    }
  }
  .list-inline{
    margin:0px;
    i{
      font-size:em(32, $text-size-base);
    }
  }
  .footer-credits{
    float:left;
    width:100%;
    margin:20px 0px 0px 0px;
    .copyright{
      color:$color-muted-intense;
      font-weight:500;
      span{
        text-align: right;
        margin:8px 0px 0px 0px;
        float:right;
      }
    }
  }
}

/* responsive iphone, smartphone*/
@media only screen
and (min-width : 320px)
and (max-width : 568px) {
  .k-dropdown, .country-input, .phone-input{
    width:100%;
  }
  .phone-input{
    margin: 8px 0px 0px 0px !important;
  }
  .responsive-phone-hide{
    display:none !important;
  }
  .responsive-phone-img-cover{
    width:100%;
    float:left;
  }
  .responsive-phone-show{
    display:block;
  }
  .navbar-sub-wrapper{
    .navbar-nav{
      margin:0px;
    }
    #bt-purchase{
      padding:15px;
    }
  }
  .navbar-brand{
    img{
      padding:8px 0px;
    }
  }
  .navbar-main{
    .dropdown-toggle, .nav-link{
      padding: 12px;
    }
  }
  #footer {
    .col-md-2, .col-md-1{
      margin: 20px 0px 0px 0px;
    }
    .ecosystem-list, .service-list{
      li{
        padding:12px 0px;
        border-top:none;
        border-bottom:1px solid $color-text-reversed;
         a{
           padding:0px;
           h4{
            margin:0px;
           }
         }
      }
    }
    h2{
      margin:0px;
    }
    section div{
      float:left;
      width:100%;
    }
    .astralink-contact{
      text-align:center;
      margin:20px 0px 0px 0px;
      .logo-container{
        display: block;
        text-align: center;
        margin: 0px 0px 12px 0px
      }
    }
    .cp-credits{
      text-align:center;
      img{
        float:none;
      }
      p{
        float:none;
        display:block;
      }
    }
  }
}
/* responsive tablets*/
@media only screen
and (min-width : 768px)
and (max-width : 1024px)  {
}