//Defining the variables
$color-layout-background-muted: #f6f6f6;
$color-layout-background: #f6f9e8;
$color-footer-cp-credits-background: #efefef;

$color-history-1997: #f4f6d6;
$color-history-2002:#e6eebb;
$color-history-2012: #dbe493;
$color-history-present: #d3db6b;

$color-muted-light: #eeeeee;
$color-muted-mid: #bbbbbb;
$color-muted-dark: #777777;
$color-muted-intense: #555555;

$color-text-reversed: #ffffff;
$color-text: #222;

$color-brand-dark-green: #463e16;
$color-brand-light-green: #b0b942;
$color-brand-fade-green: #d3db6b;

$color-brand-fade-blue: #5fbdce;
$color-brand-light-blue: #37b6ce;
$color-brand-blue: #04859d;
$color-brand-dark-blue: #206876;
$color-brand-darkest-blue: #015666;

$color-brand-fade-yellow: #ffb573;
$color-brand-light-yellow: #ff9a40;
$color-brand-yellow: #ff7800;
$color-brand-dark-yellow: #bf7330;
$color-brand-darkest-yellow: #a64e00;

$color-graphic-panel-red: #ac1e23;
$color-graphic-panel-orange: #f1642d;
$color-graphic-panel-yellow: #dcb925;
$color-graphic-panel-green: #83ad3f;
$color-graphic-panel-blue: #096a89;

$text-size-base : 14;
$font-text-default : "Roboto";